<div class=" col-xs-offset-1 col-xs-8 panel panel-default">
  <div class="row">
    <div  class="panel panel-default" style="height: 500px; overflow-y: auto">
      <ul>
        <li id="feed" *ngFor="let msg of messages">
          <ul>
            <li><u>{{msg.username}}</u></li>
            <li>{{msg.message}}</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <form name="form" (ngSubmit)="submitMessage()" #f="ngForm" novalidate>
      <input name="msg_input" type="text" class="col-xs-12 panel panel-default" [(ngModel)]="message">
      <button id="btn" class="col-xs-offset-9 col-xs-3">Send</button>
    </form>
  </div>
</div>
