<div class="row">
  <div class="col-xs-offset-3 col-xs-4">
    <div class="panel panel-primary" style="text-align: center">
      <div class="panel-heading">Register</div>
      <div class="panel-body">
        <form name="form" (ngSubmit)="Register()" #f="ngForm" novalidate>
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="input-group">
                <span class="input-group-addon">Username</span>
                <input name="user_input" type="text" class="form-control" [(ngModel)]="username">
              </div>
              <br>
              <div class="input-group">
                <span class="input-group-addon">Password</span>
                <input name="pass_input" type="password" class="form-control" [(ngModel)]="password">
              </div>
              <br>
              <div class="input-group">
                <span class="input-group-addon">Confirm Password</span>
                <input name="cpass_input" type="password" class="form-control" [(ngModel)]="cpassword">
              </div>
            </div>
          </div>
          <input type="submit" class="btn btn-primary">
        </form>
      </div>
    </div>
  </div>
</div>
